.container{
    margin-top: 2%;
    text-align: center;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
 
    width: 100%;
}

.numPage{
  
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .3%;
}



.movieImg{
   
    cursor: pointer;
    border-radius: 5%;
}

.numPage button{
    width: 5%;
    height: 6%;
    cursor: pointer;
}
